.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.horiCenter {
    width: 50%;
    margin: 0 auto;
}

#writeNick {
    border: none transparent;
    outline: none;
    font-size: x-large;
    background-color: transparent;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-20%, -50%);
}

#first { text-align: center; }
#second { 
    display: none; 
    width: 100%;
    height: 100%;
    position: relative;
}
#third { display: none; font-family: 'Questrial', sans-serif; text-align: center; }

html {
    background: rgb(239,248,249);
    background: linear-gradient(332deg, rgba(239,248,249,1) 0%, rgba(232,247,255,1) 47%, rgba(222,217,217,1) 100%);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

.btn:hover {
    background-color: #60db64;
}

.btn:disabled {
    background-color: #586b59;
}

.half {background-image: linear-gradient(to right, #4CAF50 0%, #4CAF50 47%, #000 54%, #000 100%)}
/* .half:hover { background-position: right center; } */

.rematchBtn {
    background-color: rgb(32, 32, 32);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.05s;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
}

.rematchBtn:hover {
    background-color: rgb(58, 58, 58);
}

.readied {
    background-color: #586b59 !important;
}

#matchScoreDiv {
    padding: 50px 50px 10px;
    font-size: 32px;
}

#scoreDiv {
    font-size: 24px;
    padding: 30px;
}

.actions {
    margin: 20px 15px 30px;
    width: 140px;
    text-align: center;
    border-radius: 4px;
}

#gameOverMsg {
    padding: 20px;
    font-size: 20px;
}

#replayIcon {
    padding: 0px 20px;
    /* color: #35654d; */
    color: #4CAF50;
}

.roomCount {
    margin: 5px 0px 0px;
}

#lobbyMsg{
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 70%;
}