.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#writeNick {
    border: none transparent;
    outline: none;
    font-size: x-large;
    background-color: transparent;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-20%, -50%);
}

#first { text-align: center; }
#second { display: none; }
#third { display: none; }

html {
    background: rgb(239,248,249);
    background: linear-gradient(332deg, rgba(239,248,249,1) 0%, rgba(232,247,255,1) 47%, rgba(222,217,217,1) 100%);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

/* .bg {
    background-image: url("felt.jpg");
    height: 100vh;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
} */